
.register-card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
.p3 {
    /* font-family: "Droid Sans","sans-serif"; */
    color: #2b2b2b;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.a1{
    color: #2b2b2b;
    text-decoration: none;
}